
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;900&display=swap');

:root {
    font-family: Inter;
    font-weight: 400;

    /* Colors */
    --background: #f0f0f0;
    --box-light: #2F971E;
    --text: #0000;
    --text-secondary: #787878;

    --primary: #1E2697;
    --secondary: #F2F2F2;
    --blue-light-primary: #1e2697;

    background-color: var(--background); 
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Show vertical scrollbar */

  }
  

  @keyframes fadeInOut {
    0% {
      opacity: 0; /* Start with 0% opacity (invisible) */
    }
    50% {
      opacity: 1; /* Reach 100% opacity (fully visible) at 50% of the animation */
    }
    100% {
      opacity: 0; /* Back to 0% opacity (invisible) at the end of the animation */
    }
  }

p {
  font-size: 1.5rem;
  color: var(--text);
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#center {
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3.25rem;
  color: rgb(20, 19, 19);
}

#center p {
  margin-bottom: 10px;
  color: #b1b1b1;
  font-size: 1rem;
  
}

a {
  text-decoration: none;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

a:hover {
  color:#2F971E;
}

.turtle {
  width: 48px;
  height: auto;
}

.green-circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #2F971E;
  animation: fadeInOut 5s ease-in-out infinite; /* Adjust the duration and timing as needed */
}

.red-circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #971e1e;
  animation: fadeInOut 2s ease-in-out infinite; /* Adjust the duration and timing as needed */
}

/* Style the ul */
#ixp {
  list-style-type: none;
  padding: 0;
}

/* Style the li items */
#ixp li {
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 20rem;
}

#ixp .ix {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
a {
  transition-duration: 200ms;
}

#ixp .ix a {
  transition-duration: 200ms;
  color: #000000;
  font-weight: bold;
}

#ixp .ix a:hover {
  color:#2F971E;
  transition-duration: 200ms;
}

#ixp .ix p {
  margin: 5px;
}

#ixp .ix .ixname {
  font-weight: bold;
  color: black;
}


#ixp .ix .ixspeed {
  font-weight: bold;
  color: black;
}